div {
    background-color: lightyellow;
    border: 1px solid black;
    margin-bottom: 15px;
}
.padding-top { padding-top: 40px; }
.padding-right { padding-right: 80px; background-color: lightblue; }
.padding-bottom { padding-bottom: 40px; }
.padding-left { padding-left: 80px; background-color: lightpink; }
.padding-shorthand { padding: 20px 40px 20px 40px; background-color: lightgreen; }
.padding-single { padding: 30px; background-color: lavender; }
